analisis-ge/.DS_Store
analisis-ge/.vscode/*
analisis-ge/ssh-keys/*
analisis-ge/pgadmin-data/*
analisis-ge/great-expectations/gx/*
analisis-ge/great-expectations/.idea
analisis-ge/great-expectations/.ipynb_checkpoints
analisis-ge/airflow/logs/*
analisis-pydeequ/.idea/
analisis-pydeequ/.venv
airflowTFG/*
openmetadata-docker/*
*.bak

