Desarrollo-GreatExpectations/.DS_Store
Desarrollo-GreatExpectations/.vscode/*
Desarrollo-GreatExpectations/ssh-keys/*
Desarrollo-GreatExpectations/pgadmin-data/*
Desarrollo-GreatExpectations/great-expectations/gx/*
Desarrollo-GreatExpectations/great-expectations/.idea
Desarrollo-GreatExpectations/great-expectations/.ipynb_checkpoints
Desarrollo-GreatExpectations/airflow/logs/*
Desarrollo-PyDeequ/.idea/
Desarrollo-PyDeequ/.venv
airflowTFG/*
openmetadata-docker/*
*.bak
*.idea
*.venv
DaqLity/venv
*__pycache__

